
.Top-section{
  position: absolute;
  top: 180px;
  width: 100%;
  text-align: center;
}
.logo{
  background-color: white;
  height: 60px;
  width: 60px;
  margin: auto;
  border-radius: 60px;
  line-height: 60px;
  color: red;
  font-size: 25px;
  letter-spacing: normal;
}
  .heading{
    color: white;
    font-weight: 600;
    font-size: 29px;
    width: 98%;
    /* line-height: 1; */
    margin-top: 10px;
    /* background-color: red; */
  }
  .inputBox{
    /* background-color: red; */
    margin: 10px auto;
  }

  .locationBox{
    height: 40px;
    width: 210px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: lightgray;
    color: rgb(60, 59, 59);
    font-size: 19px;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
    opacity: 80%;
  }
  
  .searchbox{
    height: 40px;
    width: 300px;
    margin: 5px;
    box-sizing: border-box;
    background-color: lightgray;
    color: gray;
    font-size: 19px;
    padding: 3px;
    padding-left: 29px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 80%;
  }
  .searchDiv{
    position: relative;
  }
  .ul{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    max-height: 270px;
    overflow-y: auto;
    padding: 5px 5px 0;
    border-left: none;
    border-right: none;
  }
  .restaurantList{
    list-style: none;
    background-color: lightgray;
    background-image: linear-gradient(90deg, red 20px, lightgray 25px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(140, 136, 136, 0.5);
    margin-bottom: 5px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
  }

  